includes:
	- ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- ./vendor/phpstan/phpstan-strict-rules/rules.neon
	- ./vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
	level: max
	paths:
		- ./src
		- ./tests
	stubFiles:
		- ./phpstan.stub
	reportPossiblyNonexistentGeneralArrayOffset: true
	reportPossiblyNonexistentConstantArrayOffset: true
	checkMissingOverrideMethodAttribute: true
	checkMissingOverridePropertyAttribute: true
	checkMissingCallableSignature: true
	exceptions:
		implicitThrows: false
		checkedExceptionClasses:
			- App\Exception\CheckedException
		check:
			missingCheckedExceptionInThrows: true
			throwTypeCovariance: true
			tooWideImplicitThrowType: true
		reportUncheckedExceptionDeadCatch: true
